@import './utils/normalize.css';
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* font-family: 'Indie Flower', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
@font-face {
  font-family: "Indie Flower", cursive;
  src: url(../../assets/fonts/IndieFlower-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather Sans", sans-serif;
  src: url(../../assets/fonts/MerriweatherSans-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather Sans", sans-serif;
  src: url(../../assets/fonts/MerriweatherSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../../assets/fonts/MerriweatherSans-Light.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  box-sizing: border-box;
  min-height: 100vh;
  /* background-color: $bg-color; */
  background-image: url(../assets/images/g.jpg);
  /* background-color: rgba(0, 0, 0, 0.1);  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #41403f;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  /* min-width: 310px; */
}

.header {
  display: flex;
  flex-direction: column;
  margin: 30px auto 60px;
  padding: 30px 0;
}
.header h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 20px 0;
}

h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-transform: lowercase;
  padding: 20px 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: right;
  margin: 30px auto 60px;
  padding: 30px 0;
}

.icon {
  stroke: #41403f;
}/*# sourceMappingURL=main.css.map */