@import url(./vars.css);
@import url(./fonts.css);
@import url(./normalize.css);

html {
    box-sizing: border-box;
}

body {
    font-family: var(--font-text);
}

*, 
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
li {
    list-style-type: none;
    padding: 0;
}

.header__top {
    background-color: var(--black-color);
    color: var(--light-color);
    font-family: var(--font-important);
    font-size: 30px;
}

.logo__img {
    width: 80px;
    border-radius: 50%;
}

.header__content {
    background-color: var(--dark-color);
    color: var(--lilac-color);
}

.header__title,
.header__subtitle {
    font-family: var(--font-title);
    font-size: 40px;
}